<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <!--<property name="LOG_HOME">D:/logs</property>-->
        <property name="FILE_NAME">mylog</property>
        <property name="log.sql.level">info</property>
    </properties>
    <Appenders>
        <Console name="consolePrint" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <!--<RollingRandomAccessFile name="RollingRandomAccessFile" fileName="${LOG_HOME}/${FILE_NAME}.log" filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd HH-mm}-%i.log">
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>-->
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="consolePrint" />
        </Root>
        <Logger name="com.ssm.bbc.user.dao" level="DEBUG" additivity="false">
            <AppenderRef ref="consolePrint" />
        </Logger>
        <Logger name="com.ssm.bbc.message.dao" level="DEBUG" additivity="false">
            <AppenderRef ref="consolePrint" />
        </Logger>
        <Logger name="com.ssm.bbc.messcategory.dao" level="DEBUG" additivity="false">
            <AppenderRef ref="consolePrint" />
        </Logger>
    </Loggers>
</Configuration>
